/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    --blue-color: rgba(84, 86, 113, 1);
    --nav-color: rgba(56, 55, 55, 1);
    --title-color:  rgba(255, 241, 0, 1);   
    --subtitle-body-color: rgba(0, 0, 0, 1);
    

    /* FONTS */

    --title-font-size: 3rem;
    --subtitle-font-size: 2.25rem;
    --menu-font-size: 1.3rem;
    --body-font-size: 1.83125rem;

    --title-font: "Poppins", sans-serif;
    --subtitle-font: "Poppins", sans-serif;
    --body-font: "Poppins", sans-serif;
}

.h2 { 
    font: 800 var(--title-font-size) var(--title-font);
    color: var(--title-color);
}

.menu { 
    font: 400 var(--menu-font-size) var(--title-font);
    color: var(--title-color);
}

.h3 {
    font: 600 var(--subtitle-font-size) var(--subtitle-font);
    color: var(--subtitle-body-color);
}

.body {
    font: 400 var(--body-font-size) var(--body-font);
    color: var(--subtitle-body-color);
}

body {
    background: rgba(187, 187, 187, 1);
}


header {
    width: 100%;
    display: block;
    z-index: 1;
    
    background: var(--blue-color);
}

.img-header img {
    width: 100%;
    position: relative;
}

.logo {
    width: 100%;
    height: 0rem;
    position: relative;
    display: flex;
    top: 1.5rem;
    z-index: 1;  
}

.logo img {
    margin-left: auto;
    margin-right: auto;
    height: 9.5rem;
    justify-content: center;
    display:flex;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav ul {
    list-style: none;
    float: left;
    background-color: var(--nav-color);
}

.nav ul li {
    position:relative;
    float: left;
}

.nav ul li a {

    margin-left: 2.5rem;
    padding: 0.875rem 4rem;
    display: flex;

    background-color: var(--nav-color);
    color: var(--title-color);
    font-style: var(--body-font);
    font-size: var(--menu-font-size);
    text-decoration: none;
}

.nav li ul {
    position: absolute;
    display: none;
}

.nav li:hover ul, .nav li.over ul {
    display: block;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

img.logo2 {
    width: 4rem;
    height: 4.3125rem;
    top: 20.8rem;
    z-index: 1;
}

.main-header img {
    width: 4rem;
    height: 4.3125rem;
    margin-left: -25rem;
    margin-top: 5rem;
}

.main-header h2 {
    margin-left: 2rem;
    margin-top: -4rem;
    font-style: var(--title-font);
    font-size: var(--title-font-size);
    color: var(--title-color);
}

.main-header h3 {
    display: inline;
    font-style: var(--subtitle-font);
    font-size: var(--subtitle-font-size);
    color: var(--subtitle-body-color);
    margin-top: 3rem;
} 

.per {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10rem;
    row-gap: 6rem;
    column-gap: 5rem;

}

img.n {
    margin-top: -3rem;
    display: flex;
}

.peralta img.m  {
    width: 13rem;
    height: 23.25rem;  
}

.peralta img.n  {
    width: 19.75rem;
    height: 4.4375rem;  
    margin-left: -3rem;
}

.boyle img.m {
    width: 14.3125rem;
    height: 23.25rem;  
    margin-left: 2rem;
}

.boyle img.n {
    width: 19.755rem;
    height: 4.4375rem;
    margin-left: 1rem; 
}

.amy img.m {
    width: 13.6875rem;
    height: 23.25rem;
    margin-left: 4rem;
}

.amy img.n {
    margin-left: 3rem;
    width: 19.755rem;
    height: 4.4375rem; 
}

.rosa img.m {
    width: 18.8125rem;
    height: 23.25rem; 
    margin-left: -5rem;
}

.rosa img.n {
    width: 19.755rem;
    height: 4.4375rem;
    margin-left: -3rem;
}

.terry img.m {
    margin-left: 2rem;
    width: 15.6875rem;
    height: 23.25rem;
}

.terry img.n {
    margin-left: 0.5rem;
    width: 19.755rem;
    height: 4.4375rem;  
}

.holt img.m {
    margin-left: 3rem;
    width: 18rem;
    height: 23.25rem; 
}

.holt img.n {
    width: 21rem;
    margin-left: 1rem;
    height: 4.4375rem;
    margin-left: 3rem;
}

.gina img.m {
    margin-left: -3rem;
    width: 18rem;
    height: 23.25rem;
}

.gina img.n {
    margin-left: -3rem;
    width: 20.6875rem;
    height: 3.9375rem;
}

.hitchcok img.m {
    width: 14.6875rem;
    height: 23.25rem; 
    margin-left: 2rem;
}

.hitchcok img.n {
    width: 18rem;
    height: 3.625rem;
    margin-left: 1rem;
}

.scully img.m {
    width: 19.375rem;
    height: 23.25rem;
    margin-left: 3rem;
}

.scully img.n {
    width: 14.125rem;
    height: 3.625rem;
    margin-left: 5rem;
}

footer {
    width: 100%;
    background-color: var(--blue-color);
    align-items: center;
}

footer img {
  display: flex;
    width: 2.8125rem;
    height: 2.8125rem;
    justify-content: center;
}

footer span {
    display: flex;
    justify-content: center;
    font-size: var(--body-font-size);
    font-style: var(--body-font);
    color: var(--subtitle-body-color);
}
