/* RESET */

* {
    box-sizing: border-box;
}

:root {

    --blue-color: rgba(84, 86, 113, 1);
    --nav-color: rgba(56, 55, 55, 1);
    --title-color:  rgba(255, 241, 0, 1);   
    --subtitle-body-color: rgba(0, 0, 0, 1);
    background: rgba(187, 187, 187, 1);

    /* FONTS */

    --title-font-size: 3rem;
    --subtitle-font-size: 2.25rem;
    --menu-font-size: 1.3rem;
    --body-font-size: 1.83125rem;

    --title-font: "Poppins", sans-serif;
    --subtitle-font: "Poppins", sans-serif;
    --body-font: "Poppins", sans-serif;
}

.h2 { 
    font: 800 var(--title-font-size) var(--title-font);
    color: var(--title-color);
}

.menu { 
    font: 400 var(--menu-font-size) var(--title-font);
    color: var(--title-color);
}

.h3 {
    font: 600 var(--subtitle-font-size) var(--subtitle-font);
    color: var(--subtitle-body-color);
}

.body {
    font: 400 var(--body-font-size) var(--body-font);
    color: var(--subtitle-body-color);
}

header {
    position: absolute;
    width: 84.2rem;
    height: 12.8rem;
    left: 0rem;
    top: 0.0625rem;
    display: block;
    z-index: 1;
    
    background: var(--blue-color);
}

header .img-header {
    margin-left: 0.4rem;
    position: absolute;
}

header .logo img {
    margin-left: 34.9rem;
    width: 15rem;
    height: 10rem;
    top: 1rem;
    position: relative; 
    display: block;
    z-index: 1;  
}

.menu {   
    height: 3.7rem;
    display: block;
    align-items: center;
    justify-content: space-evenly;
}

ul {
    display: flex;
    position: relative;

}

.menu ul { 
    list-style: none;
    width: 100%;
    top: 0.5rem;
    background-color: var(--nav-color);
}

.menu ul li {
    position: relative;
    float: left;
}

.menu ul li a {
    margin-left: 1.6rem;
    padding: 0.875rem 4rem;
    display: block;

    background-color: var(--nav-color);
    color: var(--title-color);
    text-decoration: none;
}

.menu li ul {
    display: none;
}

.menu li:hover ul, .menu li.over ul {
    display: block;
}
