/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    --medium-pink: rgba(224, 110, 137, 1);
    --pink: #940224;
    --mint-green: rgba(222, 240, 225, 1);
    --off-white:  rgba(240, 238, 238, 1);   
    --text-color: rgba(44, 36, 38, 1);
}

body {
    background: var(--mint-green);
    overflow-x: hidden;
}

header{
    background-color: var(--medium-pink);
    display: block;
    width: 100vw;
    text-align: center;
    height: 15vh;
}

.ah{
    font-family: Poppins;
    text-align: left;
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    display: block;
    list-style: none;
    text-decoration: none;
    color: #940224;
}

.ah:hover{
    background-color: var(--mint-green);
    transition: 0.5s;
}

ul {
    margin-top: 2.3rem;
    list-style: none;
}

label img{
    position: absolute;
    display: block;
    align-items: center;

    padding-top: 0.8rem;
    margin-left: 1.5rem;
    width: 2.5rem;

    color: var(--mint-green);

    z-index: 1;
    cursor: pointer;
}

#icon {
    display: flex;
}

.logo{
    font-family: Poppins;
    text-align: right;
    font-style: normal;
    font-size: 2rem;
    font-weight: normal;
    margin-right: 2rem;
    padding-top: 0.5rem;
    color: var(--medium-pink);
}

#nav{
    background-color: var(--medium-pink);
    position: absolute;
    width: 21rem;
    left: -21rem;
    height: 100vh;
    text-align: left;
}

.p1 {
    font-family: Dosis;
    font-style: normal;
    font-weight: 600;
    color: var(--pink);
    font-size: 5rem;
    padding: 0 0 3rem 0
}

.p2 {
    font-family: Dosis;
    font-style: normal;
    font-weight: 600;
    color: var(--pink);
    margin-top: -3rem;
    font-size: 5rem;
    padding:0 0 4rem 0
}

.p3 {
    font-family: Dosis;
    font-style: normal;
    font-weight: 400;
    color: var(--medium-pink);
    margin-top: -2.5rem;
    font-size: 2rem;
}

.logo2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 7rem;
}

.prin {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    text-align: justify;
    font-size: 2rem;
    text-decoration: none;
    color: var(--text-color);
}


main {
    margin: 5rem;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

}

span {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.gl img {
    width: 3rem;
    padding: 0.5rem
}

.gl {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

footer {
    width: 100vw;
    background-color: var(--medium-pink);
}

@media only screen and (max-width: 600px) {
    main {
        flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    }

    .logo2{
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-right: 0;
    }


    .p1 {
        font-size: 3rem;
    }

    .p2 {
        font-size: 3rem;
    }

    .p3 {
        font-size: 1rem;
    }

    .prin {
        font-size: 1.1rem;
        text-align: center;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    main {
        flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    }

    .logo2{
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-right: 0;
    }

    .p1 {
        font-size: 4rem;
    }

    .p2 {
        font-size: 4rem;
    }

    .p3 {
        font-size: 1.5rem;
    }

    .prin {
        font-size: 1.5rem;  
    }
}